footer {
    background-color: nth($colores,2); h2 {
        display: flex;
        justify-content: center;
        @extend %fonts;
        padding-top: nth($size,1); 
        } .parrafo {
        font-family: nth($fonts,1);
        font-size: nth($size,2);
        padding-top: 10px;
        }
    }
