header {
    background-color: nth($colores,2); nav { 
        @extend %flex;
        border-radius: 10px;
        @include border (2px solid black);
        }; a {
                width: nth($size,4); .image {
                    width: nth($size,4); button {
                        background-color: nth($colores,1);
                        font-family: nth($fonts,2)
                }
            }
        }   
    }
